<div class="sidenav pull-left">
    <div class="row" width="100px">
        <div class="col-xs-4">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigaion">
                    <div class="navbar-header">
                        <button class="btn btn-primary center-block" ng-click="$ctrl.compose()">Compose</button>
                    </div>
                    <div class="nav navbar-nav">
                        <ul class="nav sidebar-nav pull-left">
                            <li><a href="#" ng-click="$ctrl.inbox()">Inbox</a></li>
                            <li><a href="#" ng-click="$ctrl.starred()">Starred</a></li>
                            <li><a href="#" ng-click="$ctrl.sent()">Sent</a></li>
                            <li><a href="#" ng-click="$ctrl.draft()">Drafts</a></li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>

